APP_ENV=development
HTTP_PORT=8080

MYSQL_DSN=root:root@tcp(mysql:3306)/go_starter?parseTime=true
REDIS_ADDR=redis:6379
REDIS_PASSWORD=
REDIS_DB=0

JWT_SECRET=please-change-me
JWT_ISSUER=github.com/niamfauzi/go-starter
JWT_ACCESS_TOKEN_TTL=15m

GORM_DEBUG=true
LOG_LEVEL=debug